<% include partials/header %>
    <div class="container">
        <h1>PLURview</h1>
        <h3>Get rave reviews</h3>

        <a href="/venues">Venues</a>
    </div>


    <% include partials/footer %>