<% include ./partials/header %>

<div class="row">
    
    <div class="ui card" style="width: 300px; margin: 25px auto;">
        <div class="content">
            <div class="header">
                Login
            </div>
        </div>
        <div class="content">
            <form action="/login" method="post">
            <div class="ui fluid input" style="margin: 15px auto">
                <input class="form-control" type="text" name="username" placeholder="username">
            </div>
            <div class="ui fluid input" style="margin: 15px auto">
                <input class="form-control" type="password" name="password" placeholder="password">
            </div>
            <div class="ui fluid input" style="margin: 25px auto">
                <button class="ui fluid blue button">Login</button>
            </div>
        </form>
        </div>
    </div>
</div>

<% include ./partials/footer %>