<% include partials/header %>

    <h1>Venues</h1>

    <% venues.forEach(function(venue){ %>
        <div>
            <h4>
                <%= venue.name %>
            </h4>
            <img src="<%= venue.image %>" </div>
        </div>
        <% }); %>

            <a href="/">Home</a>

            <% include partials/footer %>