<% include ../partials/header %>
    
    
<div style="width: 300px; margin: 25px auto;">
      <form action="/venues" method="POST">
          
            <div class="ui card" style="width: 300px; margin: 25px auto;">
                <div class="content">
                    <div class="header">
                        List a New Venue
                    </div>
                </div>
                <div class="content">
                    
                    <div class="ui fluid input" style="margin: 15px auto">
                        <input class="form-control" type="text" name="name" placeholder="Name">
                    </div>
                    <div class="ui fluid input" style="margin: 15px auto">
                        <input class="form-control" type="text" name="image" placeholder="Image URL">
                    </div>
                    <div class="ui fluid input" style="margin: 15px auto">
                        <input class="form-control" type="text" name="location" id="location" placeholder="Address">
                    </div>
                    <div class="ui fluid input" style="margin: 25px auto">
                        <button class="ui fluid blue button">Submit</button>
                    </div>
                
                </div>
            </div>
          
        
    </form>
    
</div>
  
    
    

   
    <% include ../partials/footer %>