<% include ../partials/header %>


    <header class="jumbotron">
        <div class="container">
            <h1>Artists</h1>
    <p>Know who you're seeing</p>
    <div >
        <a class="btn btn-primary btn-large" href="/artists/new">Add New Artist</a>
    </div>

    
    </header>
    
    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
     <% artists.forEach(function(artist){ %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="<%= artist.logo %>" </div>
                <div class="caption">
                    <h4><%= artist.name %></h4>
                </div>
                <div>
                <a href="/artists/<%= artist._id %>" class="btn btn-primary">More Info</a>
                </div>
            </div>
        </div>
        <% }); %>
    </div>

   

            <a class="btn btn-primary btn-large" href="/">Home</a>



<% include ../partials/footer %>